*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
   display: flex; 
   align-items: center;
   padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
    
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{

    max-width:200%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px; 
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width:200%;
    padding: 60px 0; 
    padding-left: 30px;  
}
.button{
    padding: 8px 60px;
    text-align: center;
    background-color: rgba(66,13,116,0.388);
    color: white;
    border: 1px solid white;
    font-size: 15px;
}
body{
    background-image: url('C:/Users/lavan/Downloads/choose to be young (1).png');
    background-size: cover;
    background-repeat: no-repeat;
}
nav ul li a{
    font-size: 25px;
    font-style: calibri;
}
nav ul li a:hover{
    color: rgba(66,13,116,0.388);
}
.row2{
    text-align: center;
    color: #555;
    font-size: 20px;
}
